*{
    margin: 0;
    padding: 0;  
}

li {
    display:inline;    
}

a{
    text-decoration:none;
}

.navvar{
    font-family: 'Inter Tight', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
}

#logomain{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.titulo{
    text-align: center;
    margin-bottom: 5px;
}

.cervezas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 110px;
    padding-right: 110px;
}

.beer{
    border-radius: 10%;
}

.elaboracion{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;

}

.bio{
    display: flex;
    flex-direction: row;
    text-align: center;
}

.biopic{
    border-radius: 25%;
}

.parrafoa{
    border: 1px solid black;
    border-radius: 1em;
    font-family: 'Inter Tight', sans-serif;
    color: white;
    background: rgba(0,0,0,0.5);
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    display: inline;
}

#video_background {
    position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1000;
    overflow: hidden;
}

#video_pattern {
    background:#fff;
    position: fixed;
    opacity: 0.8;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.contact-form{
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid black;
    border-radius: 1em;
    font-family: 'Inter Tight', sans-serif;
    color: white;
    background: rgba(0,0,0,0.5);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Inter Tight', sans-serif;
}

#footernav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
}

.legal{
    display: flex;
    justify-content: center;
}

.flags-container{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.map{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.titulos{
    color: black;
    background: rgba(0,0,0,0.5);
    margin-top: 10px;
    margin-bottom: 10px;
    display:flexbox;
    flex-direction: row;
    text-align: center;
}
